
/*---jumbotron---*/
.jumbotron {
  background-color: #e6e6e6
}
.jumbotron .container {
}

/*---profile---*/
.profile {
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
}
.profile img {
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile .switchboard {
  padding-top: 100px;
}
.profile .switchboard .btn-group-vertical {
  margin-bottom: 20px;
}
.slider-description input {
  text-align: right;
}
/*---previews---*/
.previews .active {
  border-style: solid;
  border-width: medium;
  border-color: orangered;
}
